<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <h1 class="nav-brand bg-dark">Survey Form</h1>        
        <div class="collapse navbar-collapse bg-dark" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto bg-dark">
                <li class="bg-dark"> 
                    <span class="fas fa-home bg-dark"></span>
                </li>
                <li class="nav-item active bg-dark">
                    <a class="nav-link" href="/">Home</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        <div id="message">

        </div>
        <div id="number">
    
        </div>
        <h1>Submit A Form</h1>
        <form action="/result" id="survey_form" method="POST">
            <h2>Name</h2>
            <input type="text" name="name" id="name" placeholder="Your Name Here" class="form-control" required><br>
            <h2>Dojo Location</h2>
            <select name="location" id="location" class="form-control" required>
                <option value="" selected disabled hidden>(Select One)</option>
                <option value="Online">Online</option>
                <option value="San Jose">San Jose</option>
                <option value="Los Angeles">Los Angeles</option>
            </select><br>
            <h2>Favorite Language</h2>
            <select name="language" id="language" class="form-control" required>
                <option value="" selected disabled hidden>(Select One)</option>
                <option value="Python">Python</option>
                <option value="JavaScript">JavaScript</option>
                <option value="Java">Java</option>
            </select><br>
            <h2>Comment (optional)</h2>
            <textarea name="comment" id="comment" cols="30" rows="4" class="form-control"></textarea>
            <input type="submit" value="Submit" class="btn btn-primary">
        </form>
    </div>

    <!-- SCRIPT -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type ="text/javascript">
        $(document).ready(function (){
    
            var socket = io.connect();
            $('#survey_form').submit(function(e) {
                e.preventDefault();
                socket.emit("posting_form", {
                    name: $('#name').val(),
                    location: $('#location').val(),
                    language: $('#language').val(),
                    comment: $('#comment').val()
                    });
                    //console.log("works")
            });
            socket.on('updated_message', function (data){
                $('#message').html("You emitted the following information to the server: " + JSON.stringify(data.response));
            });
            socket.on('random_number', function (data){
                $('#number').html("Your lucky number emitted by the server is : " + JSON.stringify(data.response));
            });
        });
    </script>
</body>
</html>