<form (submit)='onSubmit($event, productForm)'
#productForm='ngForm'
>
<div class="card">
    <div class='inside'>
    <h3>Product <span class="badge badge-secondary">Edit</span></h3>
    <label for="exampleFormControlFile1">Title</label>

    <input
    [ngModel] = 'product?._id'
    name= "_id"
    type='hidden'>   

    <input 
        class="form-control" 
        type="text" 
        placeholder="Title Here"
        name="title"
        #title ='ngModel'
        [ngModel]='product?.title'
        required
        >
        
        <div *ngIf="(title.touched || title.dirty) && title.errors">
            <div *ngIf="title?.errors?.required" class="alert alert-danger">
                You must enter a Product title!
            </div>
        </div>

    <label for="exampleFormControlFile1">Price</label>
    <input class="form-control" 
        type="text" 
        placeholder="Price Here"
        name="price"
        [ngModel]='product?.price'>
    <label for="exampleFormControlFile1">Image URL</label>
    <input class="form-control" 
        type="text" 
        placeholder="Image URL Here"
        name="imageUrl"
        [ngModel]='product?.imgUrl'>
    <div class="buttons">
        <button class="btn btn-success" *ngIf='productForm.valid'>  Submit</button>
        <a class="btn btn-danger" routerLink="/products">Cancel</a>
    </div>
    </div>
</div>
</form>
